@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/IMG_1355-compressor-scaled.jpg");
}

.header-logo {
    flex: 1;
    width: 150px;
    height: 150px;
    background-image: url("../img/cropped-EscutAjuntament-1.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-topbar {
    margin: 0 auto;
    align-self: stretch;
    padding: 20px;
    min-width: 95%;
    background-color: #0062a3;
}

.header-topbar a {
    padding-inline: 10px;
    color: white;
    text-decoration: none;
}

.header-topbar a:hover {
    text-decoration: underline;
}

.breadcrumbs {
    font-size: 0.7rem;
    margin-block: 10px;
}

.breadcrumbs a {
    color: grey;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs a:not(:first-child)::before {
    content: " > ";
}

header {
    border-bottom: grey;
    box-shadow: 1px 1px 3px grey;
    margin-bottom: 10px;
}

header nav {
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    max-width: 95%;
    display: flex;
    height: fit-content;
}

header nav ul {
    display: flex;
    flex: 1;
    list-style-type: none;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 10px;
}

header nav ul a {
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
    padding: 10px;
}

header nav ul a:hover {
    background-color: #edf1f4;
    color: #86af49;
}

header nav div {
    text-align: center;
    align-content: center;
    width: 50px;
    height: 50px;
}

header svg {
    width: fit-content;
    height: auto;
    background-color: #86af49;
    padding: 0.5rem;
    border-radius: 5px;
}

h1 {
    font-family: "PT Serif", serif;
    text-shadow: 0 0 10px black;
    color: white;
    margin-bottom: 10px;
}

main {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    min-width: 95%;
}

h2 {
    margin-bottom: 10px;
}

main nav {
    margin-block: 10px;
}

main nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main nav ul li {
    padding-inline: 2rem;
}

main nav ul li a {
    display: flex;
    place-content: center;

    border-radius: 50%;
    color: black;
    height: 24px;
    width: 24px;
    text-decoration: none;
}

main nav ul li a:hover {
    text-decoration: underline;
}

.is-active {
    color: white;
    background-color: #0062a3;
}

.footer-background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 370px;
    background-color: black;
}

footer small {
    padding-inline: 20px;
}

footer small,
footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.certificats > * {
    margin-inline: 10px;
}

.social svg {
    margin-inline: 10px;
    border-radius: 50%;
    padding: 5px;
    height: 32px;
    width: 32px;
    background-color: white;
}

#esdeveniments {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 25px;
    margin-bottom: 20px;
}

#esdeveniments a {
    height: 100%;
    color: black;
    text-decoration: none;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 1px 1px 4px grey;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.card-image {
    border-radius: 10px;
    width: 100%;
    height: 50%;
    background-image: url("../img/https___cloudfront-eu-central-1.images.arcpublishing.com_prisaradio_4WFFYNUBIRBGDNY5L5FJJZO5DY.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    overflow: hidden;
}

.card-content p {
    line-height: 1.5;
}

time {
    text-align: right;
}
